<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pi Messenger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/PiStyles.css">
</head>
<body>
    <h1>Inbox</h1>
<form action="/new" class="compose">
        <input type="submit" value="Compose" />
    </form>
    <form action="/api/v1/out"
    <div inbox class="container">
        <table>
            <tr class="inbox_message">
                <tr>
                    <td class="sender">
                        Sender
                    </td>
                    <td class="message">
                        This is your first message
                    </td>
                    <td class="time">
                        8:45 AM
                    </td>
                </tr>
            </tr>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


</body>
</html>